body {
    background-color: #333;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
}

.box { 
    background-color: #fff;
    width: 500px;
    min-width: 1500px;
    height: 500px;
    max-height: 1000px;
}