* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #333;
}

.sky {
    position: relative;
    height: 60vh;
    background-color: cornflowerblue;

    .sun {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: gold;
        box-shadow: -3px 3px 67px 20px gold;
    }
}

.ground {
    position: relative;
    background-color: saddlebrown;
    height: 40vh;

    .grass {
        position: absolute;
        top: 0;
        background-color: green;
        height: 20vh;
        width: 100%;
    }

    .road {
        position: absolute;
        top: 13%;
        background-color: #333;
        height: 10vh;
        width: 100%;

        .car {
            position: absolute;
            top: -15px;
            left: 200px;
            width: 150px;
            height: 70px;
            background-color: tomato;
            border-radius: 15px;

            .wheel {
                position: absolute;
                bottom: -10px;
                width: 35px;
                height: 35px;
                background-color: black;
                border-radius: 50%;
                border: 2px dashed #999;
            }

            .front-wheel {
                right: 8px;
                z-index: 1;
            }

            .rear-wheel {
                left: 8px;
            }

            .window {
                position: absolute;
                top: 5px;
                height: 30px;
                width: 50px;
                background-color: blue;
            }

            .front-window {
                right: 0;
                border-top-right-radius: 10px;
            }

            .rear-window {
                left: 0;
                border-top-left-radius: 10px;
            }

        }

        .car::before,
        .car::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 40px;
            height: 35px;
            background-color: tomato;
        }

        .car::after {
            right: -20px;
            border-top-right-radius: 10px;
        }

        .car::before {
            left: -20px;
            border-top-left-radius: 10px;
        }
    }
}
