* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #333;
}

div {
    height: 300px;
    width: 300px;
}

.square {
    background-color: tomato;
    animation: square 4s forwards;
}

.circle {
    background-color: limegreen;
    border-radius: 50%;
    animation: circle 2s 4s;
}

@keyframes square {
    0% {
        height: 300px;
        width: 300px;
    }

    50% {
        width: 600px;
        height: 300px;
    }

    100% {
        width: 300px;
        height: 600px;
        background-color: gold;
    }
}

@keyframes circle {

    from {
        background-color: limegreen;
    }

    to {
        background-color: blue;
    }
}