* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #333;
    font-size: 50px;
}

section {
    background-color: #666;
    height: 600px;

    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-evenly;
}

.square {
    width: 20%;
    text-align: center;
}

.one {
    background-color: gold;
}

.two {
    background-color: lime;
}

.three {
    background-color: royalblue;
}

.four {
    background-color: tomato;
}