
nav {
    ul {
        list-style: none;

        li {
            a {
                text-align: center;
            }
        }
    }

    li {
        background-color: red;
        font-size: 31px;
    }
}