* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sens-serif;
    height: 100vh;
    color: #fff;
    background-color: #333;
}

.hero-img {
    position: relative;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    background-image: url('https://unsplash.it/600/400');
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform ease-out 1s, color 1s 1s;
}

.hero-img:hover {
    transform: translate(-50%, -50%) rotate(-360deg);
    color: gold;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}

.hero-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}